@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@500;700&display=swap");

/* Reset */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
/* End Reset */

/* Variables */
:root {
  --Dark-Navy: hsla(200, 32%, 15%, 1);
  --Semi-Dark-Navy: hsla(200, 35%, 19%, 1);
  --Silver: hsla(199, 24%, 73%, 1);
  --Silver-hover: hsla(198, 35%, 89%, 1);
  --Light-Yellow: #f2b137;
  --Light-Blue: #31c3bd;
  --light-yellow-hover: #ffc860;
  --light-blue-hover: #65e9e4;
  --shadow-y: -8px;
}
/* End Variables */

/* General */
body {
  background-color: var(--Dark-Navy);
  display: grid;
  place-items: center;
  height: 100vh;
}
/* End General */

/* Utilities */
.light-blue-color {
  color: var(--Light-Blue);
}

.light-yellow-color {
  color: var(--Light-Yellow);
}

.bg-blue {
  background: var(--Light-Blue);
}

.bg-silver {
  background: var(--Silver);
}

.shadow-sm-silver {
  box-shadow: 0px -4px 0px 0px #6b8997 inset;
}

.bg-silver-hover:hover {
  background: var(--Silver-hover);
}

.bg-yellow-hover:hover {
  background: var(--light-yellow-hover);
}

.bg-yellow {
  background: var(--Light-Yellow);
}

.bg-light-blue {
  background: var(--Light-Blue);
}

.bg-light-blue-hover:hover {
  background: var(--light-blue-hover);
}

.shadow-yellow {
  box-shadow: 0px var(--shadow-y) 0px 0px #cc8b13 inset;
}

.shadow-sm-yellow {
  box-shadow: 0px -4px 0px 0px #cc8b13 inset;
}

.shadow-light-blue {
  box-shadow: 0px var(--shadow-y) 0px 0px #118c87 inset;
}

.text-sm-bold-silver-center-wide {
  color: var(--Silver);
  text-align: center;
  font-family: Outfit;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 1px;
}

/* End Utilities */

/* Start Widget */

.start-container {
  display: grid;
  gap: 40px;
}

.logo-start {
  justify-self: center;
}

.choices-box {
  display: flex;
  flex-direction: column;
  background-color: var(--Semi-Dark-Navy);
  gap: 24px;
  padding: 24px;
  border-radius: 16px;
  box-shadow: 0px -8px 0px 0px #10212a inset;
}

.marks {
  display: flex;
  place-items: center;
  background: var(--Dark-Navy);
  padding: 8px;
  border-radius: 10px;
  cursor: pointer;
}

.xmark {
  width: 198px;
  height: 54px;
}

.omark {
  width: 198px;
  height: 54px;
}

h5 {
  color: var(--Silver);
  text-align: center;
  font-family: Outfit;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.875px;
  opacity: 0.5;
}

.buttons {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.but {
  width: 100%;
  color: var(--Dark-Navy);
  text-align: center;
  font-family: Outfit;
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 1.25px;
  text-transform: uppercase;
  padding: 24px;
  border-radius: 16px;
  outline: none;
  border: none;
  cursor: pointer;
  transition: 3ms;
}

.but:hover {
  --shadow-y: -10px;
}

.but:active {
  --shadow-y: -6px;
}

/* End Start Widget */

/* Game Widget */

/* Header */

.game__header {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  margin-bottom: 8px;
}

.logo-game {
  justify-self: start;
}

.turn-screen {
  justify-self: center;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
  border-radius: 8px;
  background: var(--Semi-Dark-Navy);
  box-shadow: 0px -4px 0px 0px #10212a inset;
  width: 140px;
  height: 52px;
}

.turn-screen__text {
  color: var(--Silver);
  font-family: Outfit;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 1px;
}

.restart-but {
  justify-self: end;
  width: 52px;
  height: 52px;
  border-radius: 8px;
  outline: none;
  border: none;
}
/* End Header */

.game__board {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 20px;
  row-gap: 8px;
}

.square {
  border-radius: 16px;
  background: var(--Semi-Dark-Navy);
  box-shadow: 0px -8px 0px 0px #10212a inset;
  width: 140px;
  height: 140px;
  display: grid;
  place-items: center;
}

.xicon {
  width: 64px;
  height: 64px;
}

.oicon {
  width: 64px;
  height: 64px;
}

.x-win {
  background: #31c3bd;
  box-shadow: 0px -8px 0px 0px #118c87 inset;
}

.o-win {
  background: #f2b137;
  box-shadow: 0px -8px 0px 0px #cc8b13 inset;
}

.clicked {
  box-shadow: 0px -4px 0px 0px #10212a inset;
}

.not-allowed:hover {
  cursor: not-allowed;
}

.x-outline:hover {
  background-image: url(./images/icon-x-outline.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.o-outline:hover {
  background-image: url(./images/icon-o-outline.svg);
  background-repeat: no-repeat;
  background-position: center;
}

/* Footer */
.score-screen {
  display: flex;
  justify-content: space-between;
  margin-top: 8px;
}

.score {
  width: 140px;
  height: 72px;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--Dark-Navy);
  font-family: Outfit;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.875px;
}

.youropponent {
  display: flex;
  margin-top: 8px;
  justify-content: center;
}

.loading span {
  width: 5px;
  height: 5px;
  border-radius: 50%;
  display: inline-block;
  margin-right: 2px;
  background: var(--Silver);
  animation: dots 2s ease-in-out infinite;
}

.loading span:nth-child(2) {
  animation-delay: 0.4s;
}
.loading span:nth-child(3) {
  animation-delay: 0.8s;
}

@keyframes dots {
  50% {
    opacity: 0;
    transform: scale(0.7);
  }
}

/* End Footer */

/* End Game Widget */

/* Popup Widget */
.popupwidget {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.popupwidget__container {
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: var(--Semi-Dark-Navy);
  padding: 64px;
  gap: 32px;
}

.popup__header {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.heading__container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
}

.popup__heading {
  color: var(--Silver, #a8bfc9);
  text-align: center;
  font-family: Outfit;
  font-size: 40px;
  font-weight: 700;
  letter-spacing: 2.5px;
  text-transform: uppercase;
}

.popup__buttons {
  display: flex;
  gap: 16px;
}

.popup__btn {
  padding: 16px;
  height: 52px;
  border-radius: 8px;
  outline: none;
  border: none;
  color: var(--Dark-Navy, #1a2a33);
  text-align: center;
  font-family: Outfit;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase;
}

/* End Popup Widget*/

/* Responsive */
@media (max-width: 600px) {
  .xmark {
    width: 132px;
  }
  .omark {
    width: 132px;
  }
  .game__header {
    margin-bottom: 16px;
  }
  .turn-screen {
    width: 96px;
    height: 40px;
  }
  .square {
    width: 96px;
    height: 96px;
  }
  .xicon {
    width: 40px;
    height: 40px;
  }
  .oicon {
    width: 40px;
    height: 40px;
  }
  .popup__icon {
    width: 28px;
    height: 28px;
  }
  .score {
    width: 96px;
    height: 64px;
  }
  .popup__heading {
    font-size: 24px;
  }
  .popup__btn {
    font-size: 13px;
  }
  .heading__container {
    font-size: 16px;
  }
}
/* End Responsive */
